<%= form_for(@playlist) do |f| %>
  <!-- <% if @playlist.errors.any? %>
    <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this record from being saved:</h2>
    <ul>
      <% @playlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %> -->
  <%= f.label :name %>
  <%= f.text_field :name %>

  <% Song.all.each do |song| -%>
    <div>
      <%= check_box_tag :song_ids, song.id, @playlist.songs.include?(song), :name => 'playlist[song_ids][]', id: "song-#{song.id}" %>
      <%= song.title %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
